
<div class="header">
  <div class="header_main">
    <h1>MYBLOG</h1>
    <span><%= link_to '首页', welcome_index_path %></span>
    <span><%= link_to 'About', about_index_path%></span>
  </div>
</div>

<div class="content">
 <div class="content_left">
    <p>Sorry articles you find don't exist</p>
 </div>
 <div class="content_right">
    <div class="regist_login">
       <span class="regist">regist</span>
       <span class="login"><%= link_to 'login',articles_path %><span>
    </div>
    <div class="typelist">
       <ul>
          <% @sorts.each do |t|%>
             <li>
                <%= link_to t.name, { :controller => 'welcome', :action => 'partshow', :id =>t }%>
             </li>
          <% end %>
       </ul>
    </div>
 </div>
</div>
