<div class="content">
 <div class="content_left">
    <p>Sorry articles you find don't exist</p>
 </div>
 <div class="content_right">
    <div class="regist_login">
       <span class="regist"><%= link_to 'regist',articles_path  %></span>
       <span class="login"><%= link_to 'login',articles_path %><span>
    </div>
    <div class="typelist">
       <ul>
             <li><%= link_to 'all articles',welcome_index_path %></li>
          <% @sorts.each do |t|%>
             <li>
                <%= link_to t.name, { :controller => 'welcome', :action => 'partshow', :id =>t }%>
             </li>
          <% end %>
       </ul>
    </div>
 </div>
</div>
